.scroll {
 display: flex;
  flex-direction: column;
  width: 102.5rem;
  margin-top: 15rem;
  margin-left: 16.3rem;
}

.gallery {
  white-space: nowrap;
  overflow-x: scroll;
}

.scroll__container {
  overflow: hidden;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 220vmax;
}

.gallery__h1 {
  font-size: var(--heading-text-size);
  font-family: var(--header-font);
  margin-bottom: 7.5rem;
}