.scroll {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15rem;
  position: sticky;
  top: 15%;
  min-height: 10rem;
  margin-bottom: 110rem;
  overflow: hidden;
  white-space: nowrap;
}


.scroll__container {
  
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 220vmax;
  position: relative;
  left: 130%;

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  
}

.gallery__h1 {
  font-size: var(--heading-text-size);
  font-family: var(--header-font);
  margin-bottom: 7.5rem;
  margin-left: 16.3rem;
}

@keyframes rotate {
  to {
    transform: translateX(-450rem);
  }
}